{% extends 'noticeapp/base.html' %}

{% load url from future %}
{% load noticeapp_tags i18n %}

{% block breadcrumb %}
    {% noticeapp_get_profile target_user as target_profile %}
    {% include "noticeapp/breadcrumb.html" with object=target_profile extra_crumb=_('Posts') %}
{% endblock %}

{% block content %}
    {% noticeapp_get_profile target_user as target_profile %}
    <h1>{% trans "All posts created by" %} <a href="{{ target_profile.get_absolute_url }}">{{ target_user.get_username }}</a></h1>
    <div class="userinfo">
        {% include "noticeapp/pagination.html" %}

        {% for post in object_list %}
            {% cycle 'odd' 'even' as rowcolors silent %}
            {% include "noticeapp/post_template.html" with course=post.course %}
        {% endfor %}

        {% include "noticeapp/pagination.html" %}

    </div>
{% endblock %}
