
{% extends "base_home.html" %}


{# coding: utf8 #}
{% block button_bar %}



{% if perms.schedule.add_courseenrollment %}
 <div style="padding-bottom:16px;text-align:right;">
    <a href="{% url "schedule:mycourses:create"  %}" class="btn btn-primary">Add CourseEnrollment</a>
</div>

{% endif %}
{% endblock %}


{% block content %}

 {% if object_list %}
    <table class="table table-striped">
    <thead >
        <tr>
            <th >My Courses </th>
            <th > Teacher </th>
            <th > Description</th>
        </tr>
    </thead>

    <tbody >
     {% for obj in object_list %}
        <tr>
            <td >{{obj.course.fullname}}</td>
            <td >
                {{obj.course.teacher.first_name}}
            </td>
            <td >
                {{obj.course.description}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if is_paginated %}

    <div class="pagination">
    <ul class="pagination">
        <li
            {% if page_obj.number == 1 %}
                class = 'disabled'
            {% endif %}
        >

            <a class = '' href="{% url "
            schedule:mycourses:list" page_obj.first %}"
            >&lt;&lt;</a>
        </li>

        {% if page_obj.has_previous %}
        <li class =''>
        <a class = 'prev-page' href="{% url "schedule:mycourses:list" page_obj.previous_page_number %}">&lt;</a>
        </li>
        {% endif %}

        {% for po in paginator.page_range %}
           {% if po == page_obj.number %}
            <li class ='active' >
                <a class ='current'> </a>
            {% else %}
            <li class =''>
            <a class ='' href="{% url "schedule:mycourses:list" po %}">

            {{po}}

            </a>
            {% endif %}
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class =''>
        <a class ='next-page' href="{% url "schedule:mycourses:list" page_obj.next_page_number %}">&gt;</a>
        </li>
        {% endif %}


        <li
            {% if page_obj.number == page_obj.paginator.num_pages %}
            class ='disabled'
            {% endif %}
        >

        <a class ='' href="{% url "schedule:mycourses:list" page_obj.paginator.num_pages %}">&gt;&gt;</a>
        </li>
        </ul>
    </div>

        {% endif %}
{% else %}
    <p id="courseenrollment_list_not_found_msg" > No courseenrollments found. </p>
{% endif %}
{% endblock %}
