{% extends "base_home.html" %}
{% load schedule_tags %}
{% load dajaxice_templatetags %}

{% block extrahead %}
    <script type="text/javascript" src="/static/MultiDatesPicker v1.6.1/jquery-ui.multidatespicker.js"></script>
    <script type="text/javascript">
     $(function() {
        dates = []
        $( "#datepicker" ).multiDatesPicker({
            pickableRange: 7,
            adjustRangeToDisabled: true,
            onSelect: function(dateText) {
      // do whatever here
                var dates = $('#datepicker').multiDatesPicker('getDates');
                //alert(dates.toString());
                Dajaxice.schedule.classes(show_table,{'dates':dates.toString()});
        }
        });
    var today = new Date(); var dd = today.getDate(); var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear(); if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} var today = mm+'/'+dd+'/'+yyyy;
    Dajaxice.schedule.classes(show_table,{'dates':today});
    });

    function show_table(coursemeets){
        $("#coursemeets").empty();
        for (i=0; i<coursemeets.length; i++) {
                row = $('<tr />');
                row.append($('<td />').html(coursemeets[i].courses));
                row.append($('<td />').html(coursemeets[i].time));
                row.append($('<td />').html(coursemeets[i].location));
                row.append($('<td />').html(coursemeets[i].day));
                $("#coursemeets").append(row);
        }
        if (coursemeets.length == 0) {
                row = $('<tr />');
                row.append($('<td />').html("No Class").attr('colspan',3));
                $("#coursemeets").append(row);
        }
    }
     </script>

     {% dajaxice_js_import %}

{% endblock %}

{# coding: utf8 #}
{% block button_bar %}

{% endblock %}


{% block content %}
<div class="col-md-8">
 {% if object_list %}
    <table class="table table-striped">
    <thead >
        <tr>
            <th >Course </th>
            <th >Time </th>
            <th >Location </th>
            <th >Day </th>
        </tr>
    </thead>

    <tbody id="coursemeets">
    </tbody>
    </table>
    {% if is_paginated %}

    <div class="pagination">
    <ul class="pagination">
        <li
            {% if page_obj.number == 1 %}
                class = 'disabled'
            {% endif %}
        >

            <a class = '' href="{% url "
            schedule:coursemeet:list" page_obj.first %}"
            >&lt;&lt;</a>
        </li>

        {% if page_obj.has_previous %}
        <li class =''>
        <a class = 'prev-page' href="{% url "schedule:tclasses:list" page_obj.previous_page_number %}">&lt;</a>
        </li>
        {% endif %}

        {% for po in paginator.page_range %}
           {% if po == page_obj.number %}
            <li class ='active' >
                <a class ='current'> </a>
            {% else %}
            <li class =''>
            <a class ='' href="{% url "schedule:tclasses:list" po %}">

            {{po}}

            </a>
            {% endif %}
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class =''>
        <a class ='next-page' href="{% url "schedule:tclasses:list" page_obj.next_page_number %}">&gt;</a>
        </li>
        {% endif %}


        <li
            {% if page_obj.number == page_obj.paginator.num_pages %}
            class ='disabled'
            {% endif %}
        >

        <a class ='' href="{% url "schedule:tclasses:list" page_obj.paginator.num_pages %}">&gt;&gt;</a>
        </li>
        </ul>
    </div>

        {% endif %}
{% else %}
    <p id="coursemeet_list_not_found_msg" > No Classes found. </p>
{% endif %}
</div>
<div class="col-md-4">
    <div type="text" id="datepicker"></div>
</div>

{% endblock %}